.DS_Store
.sass-cache/
*.sublime-project
*.sublime-workspace
_SpecRunner.html
*.css.map

/npm-debug.log
/build-id/node_modules/
/build-id/.sass-cache
/build-id/bower_components/

!/master/static/styleguides/*/css/prism.css

/master/static/styleguides/*/css/*
/master/static/common-assets/css/

/master/static/static-templates/styles/compiled.css

#/master/static/common-assets/scripts/vendor/
/master/static/common-assets/scripts/compiled/

*.log
/target/
*.classpath
*.project
/.settings/
/aem-id/src/main/content/jcr_root/etc/designs/*/*dev
